<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid">
        <a class="p-2" style="margin-left:10rem;" href="home"><img src="../../assets/crlogohome.jpg" alt=""
                width="80px"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent content">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left:650px ;">
                <li class="nav-item mx-4">
                    <a class="nav-link inactive-nav-a" aria-current="page" href="home">Home</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link inactive-nav-a" href="about">About</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link inactive-nav-a" href="service">Service</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link active-nav-a" href="contact">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title about-body-main" style="text-align: center;">
            <h3><strong>We are alway available for you.</strong></h3>
        </div>

        <div class="row" style="padding-top: 50px;">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="fa fa-map-marker"></i></div>
                    <h4><a href="contact">Location</a></h4>
                    <p><strong>CR Bank, 17th street, Arena area, New village, Lisbon, Portugal</strong></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box w-100">
                    <div class="icon"><i class="fa fa-envelope"></i></div>
                    <h4><a href="contact">Email Us</a></h4>
                    <p><strong>solihns01@gmail.com</strong></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box w-100">
                    <div class="icon"><i class="fa fa-phone"></i></div>
                    <h4><a href="contact">Call Us</a></h4>
                    <p><strong>+91 9946570162</strong></p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->